---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: defensive-toolkit

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/version: "1.2.0"

images:
  - name: ghcr.io/dashtid/defensive-toolkit-api
    newTag: latest
